<nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
     <img id="img" src="./assets/imagens/peixe.png" />
   </label>
 
    <a href="calendario" class="menu-item agenda"> <i id="agenda" class="material-icons">date_range</i> </a>
    <a [routerLink]="['/perfilAluno', this.alunoToken.id]" class="menu-item perfil"> <i id="perfil" class="material-icons" >perm_identity</i></a>
    <a href="cadastrainstituicao" class="menu-item instituicao"> <i id="instituicao" class="material-icons">school</i> </a>
    <a href="disciplina" class="menu-item disciplina"> <i id="disciplina" class="material-icons">book</i> </a>
 </nav>