<div class="modal" id="info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Conheça O Aluno Agenda!</h4>
      </div>
      <div class="modal-body">
        <p>É novo por aqui!?</p>
        <p>Conheça o Aluno Agenda! Aqui você pode organizar suas atividades sem perder nem um compromisso!</p>
        <p>Olha só o que você consegue fazer!</p>
        <p>Cadastre as instituições em que estuda</p>
        <p>Cadastre as disciplinas que participa em cada instituição</p>
        <p>Cadastre suas notas das avaliações de cada disciplina</p>
        <p>Cadastre e visualize seus comprimissos das suas disciplinas </p>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary btn-modal" (click)="closeInfo()"><i data-bs-dismiss="modal" class="material-icons">close</i></button>
      </div>
    </div>
  </div>
</div>