.div-tela{
    display: flex;
}

.div-perfil{
    background-color: #E2BECC;
    width: 25%;
    height: 100vh;
    position:fixed;
}

.div-cadastro{
    width: 50%;
    margin-top: 3%;
    margin-left: 35%;
}

input{
    margin-left: 0.5em;
    margin-bottom: 3%;
    width: 17.5em;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    text-align: center;
}

input::placeholder{
    color: white;
    text-align: center;
}

.label-perfil{
    width: 70%;
    margin-left: 20%;
    margin-top: 3%;
}

.ng-invalid{
    text-align: left;
    margin-left: 8px;
}

#h1{
    text-align: center;
    color: #FFFFFF;
    margin-top: 15%;
    margin-bottom: 15%;
}

.card{
    flex-wrap: wrap;
    display: inline-block;
    margin: 10px;
    background-color: #89A4C8;
  
}

.text-ligth{
    color:white;
}

.text-ligth:hover{
    color:#565761;
}

.text-danger{
    text-align: center;
}

.instcad{
    margin-top: 1em;
    text-align: center;
    margin-left: 3%;
    color: #1A1859;
}

.btn{
    background-color: #1A1859;
    color: #FEFEFE;
    border-color: #1A1859;
}

.msg{
    color: #1A1859;
}

.div-botoes {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.btn{
    background-color: #1A1859;
    color: white;
    margin: 8%;
}

.btn:hover{
    background-color: white;
    color: #1A1859;
}

.form-cadastro{
    text-align: center;
}

span{
    color:#1A1859;
    text-align: center;
}