<div class="div-geral">

    <div class="div-cadastro">

        <h1>Disciplina</h1>

        <form #f="ngForm" (ngSubmit)="gravar(f.value)">

            <input required class="input-group-text" type="text" #fnome="ngModel" ngModel name="nome"
                placeholder="Informe a disciplina" />
            <div *ngIf="fnome.invalid" class="ng-invalid">
                *Campo disciplina é obrigatório
            </div>

            <input required class="input-group-text" type="text" #fabreviacao="ngModel" ngModel name="abreviacao"
                placeholder="Informe a abreviação" />
            <div *ngIf="fabreviacao.invalid" class="ng-invalid">
                *Campo abreviação é obrigatório
            </div>

            <input required class="input-group-text" type="text" #fdocente="ngModel" ngModel name="docente"
                placeholder="Informe o docente" />
            <div *ngIf="fdocente.invalid" class="ng-invalid">
                *Campo docente é obrigatório
            </div>

            <input class="input-group-text" type="text" ngModel name="anotacao" placeholder="Anotações" />

        </form>

        <div class="botoes">
            <button [disabled]="f.invalid" class="btn btn-secondary col-md-10" (click)="gravar(f.value)">Salvar</button>
        </div>

    </div>

    <div class="div-janela">

        <h1>Disciplina</h1>

        <div *ngFor="let disc of disciplina" class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ disc.nome }}</h5>
                <h6 class="card-subitle mb-2 text-muted">{{ disc.abreviacao }} {{ '-' }} {{disc.docente}}</h6>
                <p class="card-text">{{ disc.anotacao }}</p>
            </div>

            <button class="btn btn-secondary botao-card"> <a [routerLink]="['/disciplina',disc.id]"><i
                        class="material-icons text-ligth">mode_edit</i></a> </button>

            <button class="btn btn-secondary botao-card"> <i role="button" onClick="window.location.reload()"
                    class="material-icons text-ligth" (click)="excluir(disc.id)">delete</i> </button>

        </div>

    </div>

</div>