<div class="div-geral">

    <div class="div-cadastro">

        <h1>Cadastro de Disciplinas</h1>

        <form #f="ngForm" (ngSubmit)="efetivarAlteracao(f.value)">

            <input class="form-control" type="text" [(ngModel)]="disciplina.id" #fid="ngModel" ngModel name="id"
                placeholder="ID" disabled>

            <input class="form-control" type="text" [(ngModel)]="disciplina.nome" #fnome="ngModel" ngModel name="nome"
                placeholder="Informe a disciplina" required>

            <input class="form-control" type="text" [(ngModel)]="disciplina.abreviacao" #fabreviacao="ngModel" ngModel
                name="abreviacao" placeholder="Informe abreviacao" required>

            <input class="form-control" type="text" [(ngModel)]="disciplina.docente" #fdocente="ngModel" ngModel
                name="docente" placeholder="Informe docente" required>

            <input class="form-control" type="text" [(ngModel)]="disciplina.anotacao" #fanotacao="ngModel" ngModel
                name="anotacao" placeholder="Informe anotacao">

            <button required type="button" class="btn btn-secondary col-md-10" data-bs-toggle="modal"
                data-bs-target="#myModal">Notas</button>

            <!-- MODAL -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Notas</h4>
                        </div>

                        <div class="modal-body">
                            <input class="input-group-text" type="number" placeholder="Informe a nota" />
                            <input class="input-group-text" type="number" placeholder="Informe a nota" />
                            <input class="input-group-text" type="number" placeholder="Informe a nota" />
                            <input class="input-group-text" type="number" placeholder="Informe a nota" />

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-modal" data-bs-dismiss="modal"><i
                                    class="material-icons">add</i></button>
                            <button type="button" class="btn btn-secondary btn-modal" data-bs-dismiss="modal"><i
                                    class="material-icons">done</i></button>
                            <button type="button" class="btn btn-secondary btn-modal" data-bs-dismiss="modal"><i
                                    class="material-icons">close</i></button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- FIM MODAL -->

            <div class="botoes">
                <button [disabled]="f.invalid" class="btn btn-secondary col-md-4"
                    onClick="window.location.replace('/')">Salvar</button>

                <button class="btn btn-secondary col-md-4"
                    onClick="window.location.replace('/')">Cancelar</button>
            </div>

        </form>

        {{ msg }}

    </div>

    <div class="div-janela">

        <h1>Disciplina</h1>

        <div *ngFor="let disc of disciplina" class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ disc.nome }}</h5>
                <h6 class="card-subitle mb-2 text-muted">{{ disc.abreviacao }} {{ '-' }} {{disc.docente}}</h6>
                <p class="card-text">{{ disc.anotacao }}</p>
            </div>

            <button class="btn btn-secondary botao-card"> <i role="button" onClick="window.location.replace('/')" class="material-icons text-ligth" (click)="excluir(disc.id)">delete</i> </button>

        </div>

    </div>