.div-geral{
    display: flex;
}

.div-cadastro{
    background-color: #888995;
    width: 25%;
    height: 100vh;
}

.div-janela{
    width: 50%;
    margin-top: 3%;
    margin-left: 10%;
}

input{
    margin-left: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 95%;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-left: 3%;
    text-align: center;
}

.btn{
    background-color: #565761;
    color: white;
    margin: 8%;
}

.btn:hover{
    background-color: white;
    color: #565761;
}

.botoes{
    position: absolute;
    width: 25%;
    bottom: 2%;
}

.ng-invalid{
    color: rgb(151, 60, 60);
    text-align: center;
}

/* CARD */
.card{
    flex-wrap: wrap;
    display: inline-block;
    margin: 10px;
    background-color: #C5C8CF;
}

/* MODAL */

.modal-title{
    margin: auto;
}
.btn-modal{
    background-color: #565761;
    color: white;
    margin: 2%;
}