.div-geral{
    display: flex;
}

.div-cadastro{
    background-color: #E2BECC;
    width: 25%;
    height: 100vh;
    position: fixed;
}

.div-janela{
    width: 50%;
    margin-top: 3%;
    margin-left: 35%;
    text-align: center;
}

input{
    margin-left: 1em;
    margin-bottom: 3%;
    width: 17.5em;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    text-align: center;
}

input::placeholder{
    color: white;
    text-align: center;
}

#h1{
    text-align: center;
    color: #FFFFFF;
    margin-top: 15%;
    margin-bottom: 15%;
}

.instcad{
    margin-top: 1em;
    text-align: center;
    margin-left: 3%;
    color: #1A1859;
}

.material-icons{
    margin: 1.5%;
}

.ng-invalid{
  
    text-align: center;
}

.div-botoes {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.btn{
    background-color: #1A1859;
    color: white;
    margin: 8%;
}

.btn:hover{
    background-color: white;
    color: #1A1859;
    border-color: #1A1859;
}

/* CARD */
.card{
    flex-wrap: wrap;
    display: inline-block;
    margin: 10px;
    background-color: #6595C4;
}

.botao-card{
    margin: 2%;
    padding: 1.5%;
}

.text-ligth{
    color: white;
}
.text-ligth:hover{
    color: #1A1859;
}

.card-title{
    color: #CFEAF2;
}

.card-subitle{
    color: #B5CCD2;
}

.card-text{
    color: #CFEAF2;
}

.form-select {
    margin-left: 1em;
    margin-top: 3%;
    width: 17.5em;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    text-align: center;
}

.form-select-nota {
    margin-left: 1em;
    margin-top: 3%;
    width: 17.5em;
    height: 2.7em;
    border-radius: 10px;
    background-color: transparent;
    border-color: #1A1859;
    text-align: center;
}

.validacao{
    color: gray;
}

.selecao-disciplina{
    margin-top: 15%;
    display: flex;
    width: 100%;
    justify-content:center;
}

.div-form{
    margin-top: 30%;
}

.h2-nota{
    margin-top: 15%;
}