<div class="div-tela">
    <div class="div-perfil">
        <i class="bi bi-person-circle img-usuario"></i>
        <label class="label-perfil">Nome Usuário</label>
        <label class="label-perfil">Login</label>
        <label class="label-perfil">Email</label>
        <div class="btn-sair">
            <button class="btn btn-dark">Sair</button>
        </div>
    </div>
    <div class="div-cadastro">
        <h1>Informações cadastrais</h1>
        <form #f="ngForm" (ngSubmit)="editar(f.value)">
            <div *ngIf="fnome.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <input type="text" #fnome="ngModel" ngModel name="nome" placeholder="Digite Nome" required>
            <div *ngIf="ftelefone.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <input type="text" #ftelefone="ngModel" ngModel name="telefone" placeholder="Digite Telefone" required>
            <div *ngIf="femail.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <input type="text" #femail="ngModel" ngModel name="email" placeholder="Digite Email" required>
            <div *ngIf="fusuario.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <input type="text" #fusuario="ngModel" ngModel name="usuario" placeholder="Digite Usuário" required>
            <div *ngIf="fsenha.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <input type="text" #fsenha="ngModel" ngModel name="senha" placeholder="Digite Senha" required>
            <div>
                <button type="button" class="btn btn-salvar">Salvar</button>
            </div>
        </form>
    </div>
</div>