<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Notas</h4>
            </div>

            <form #f="ngForm" (ngSubmit)="salvarNota(f.value)" class="modal-body">

                <!-- <input required class="input-group-text" type="data" #fData="ngModel" ngModel name="data" placeholder="Data" /> -->

                <input required class="input-group-text" type="text" #dDescricao="ngModel" ngModel name="descricao"
                    placeholder="Descrição" />

                <input class="input-group-text" type="number" #fNota="ngModel" ngModel name="nota"
                    placeholder="Informe a nota" />

            </form>

            <hr>

            <!-- Tabela de notas  -->

            <div>
                <table class="tabela-modal">

                    <thead class="tr-modal">
                        <tr>
                            <!-- <th>Data</th> -->
                            <th>Descrição</th>
                            <th>Nota</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let nt of nota">
                            <!-- <td>{{ nt.data }}</td> -->
                            <td>{{ nt.descricao }}</td>
                            <td>{{ nt.nota }}</td>

                        <i type="button" class="btn btn-secondary btn-modal" data-bs-dismiss="modal" class="material-icons" (click)="excluirNota(nt.id)">delete</i>

                        </tr>

                    </tbody>
                </table>
            </div>

            <!-- Fim da tabela -->

            <hr>

            <br>
            <label id="media">Sua média final: {{ notaMedia }} </label>
            <br>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-modal" data-bs-dismiss="modal"><i class="material-icons" (click)="salvarNota(f.value)">done</i></button>

                <button type="button" class="btn btn-secondary btn-modal" onclick="window.location.reload()"><i data-bs-dismiss="modal" class="material-icons">close</i></button>
            </div>

        </div>
    </div>
</div>