<div class="div-tela">
    <div class="div-perfil">
    </div>
    <div class="div-cadastro">
        <h1>Calendario</h1>
        <div class="div-calendario">
            <div id="div-segunda" class="div-formato">
                <h5>Segunda</h5>
                <hr>   
            </div>
            <div id="div-terça" class="div-formato">
                <h5>Terça</h5>
                <hr> 
            </div>
            <div id="div-quarta" class="div-formato">
                <h5>Quarta</h5>
                <hr> 
            </div>
            <div id="div-quinta" class="div-formato">
                <h5>Quinta</h5>
                <hr> 
            </div>
            <div id="div-sexta" class="div-formato">
                <h5>Sexta</h5>
                <hr> 
            </div>
            <div id="div-sábado" class="div-formato">
                <h5>Sábado</h5>
                <hr> 
            </div>
            <div id="div-domingo" class="div-formato">
                <h5>Domingo</h5>
                <hr> 
            </div>
        </div>
        <div>
            <button type="button" class="btn-voltar"><</button>
            <button type="button" class="btn-avancar">></button>
        </div>
    </div>
</div>