<div class="div-tela">
    <div class="div-perfil">
        <h2>Cadastro de Instituição</h2>
            <form #f="ngForm" (ngSubmit)="efetivarAlteracao(f.value)">
                <!--<input class="form-control" type="text" [(ngModel)]="instituicao.id" #fid="ngModel" ngModel name="id" placeholder="ID" disabled>-->
                
                <input class="form-control" type="text" [(ngModel)]="instituicao.nome" #fnome="ngModel" ngModel name="nome" placeholder="Digite Nome" required>
                <input class="form-control" type="text" [(ngModel)]="instituicao.sigla" #fsigla="ngModel" ngModel name="sigla" placeholder="Digite Sigla" required>
                <input class="form-control" type="text" [(ngModel)]="instituicao.cep" #fcep="ngModel" ngModel name="cep" placeholder="Digite cep" required>
                <input class="form-control" type="text" [(ngModel)]="instituicao.rua" #frua="ngModel" ngModel name="rua" placeholder="Digite rua" required>
                <input class="form-control" type="text" [(ngModel)]="instituicao.cidade" #fcidade="ngModel" ngModel name="cidade" placeholder="Digite cidade" required>
                <input class="form-control" type="text" [(ngModel)]="instituicao.estado" #festado="ngModel" ngModel name="estado" placeholder="Digite estado" required>
                <div class="mt-2">
                    <button [disabled]="f.invalid" class="btn btn-dark me-2"
                        onClick="window.location.replace('/')">Salvar</button>
                    <button  onClick="window.location.replace('/')" type="reset" class="btn btn-dark">Cancelar</button>
                </div>
            </form>
    {{ msg }}
</div>

<div class="div-cadastro">
    <h2>Instituições Cadastradas</h2>
    <div *ngFor="let inst of instituicao" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ inst.nome }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ inst.sigla }}</h6>
            <p class="card-text">{{ inst.rua }} {{ inst.cidade }} {{ inst.estado }} {{ inst.cep}}</p>
        </div>
        <i role="button"  onClick="window.location.replace('/')" class="material-icons text-light" (click)="excluir(inst.id)">delete</i>
    </div>
</div>