<div class="div-tela">
    <div class="div-perfil">
        <div class="div-icon">
            <i class="bi bi-person-circle img-usuario"></i>
            <label class="label-perfil"><h3>{{ aluno.nome }}</h3></label>
            <label class="label-perfil"><h3>{{ aluno.usuario }}</h3></label>
            <label class="label-perfil"><h3>{{ aluno.email }}</h3></label>
            <!--<div class="div-btn-sair">
                <button class="btn btn-dark" (click)="Deslogar()">Sair</button>
            </div> -->
            <div class="div-btn-sair">
                <button required type="button" class="btn btn-dark col-md-10" data-bs-toggle="modal" data-bs-target="#alterarsenha">Alterar Senha</button>
                <app-aluno-alterarsenha></app-aluno-alterarsenha>
            </div>

            
            
        </div>
    </div>
    <div class="div-cadastro">
        <h1>Informações cadastrais</h1>
        <form class="form-editar" #f="ngForm" (ngSubmit)="editar(f.value)">
            <div *ngIf="fnome.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <input type="text" [(ngModel)]="aluno.nome" #fnome="ngModel" ngModel name="nome" placeholder="Digite Nome"
                required>
            <div *ngIf="ftelefone.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <input type="text" [(ngModel)]="aluno.telefone" #ftelefone="ngModel" ngModel name="telefone"
                placeholder="Digite Telefone" mask="(00) 00000-0000" required>
            <div *ngIf="femail.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <input type="text" [(ngModel)]="aluno.email" #femail="ngModel" ngModel name="email"
                placeholder="Digite Email" required disabled>
            <div *ngIf="fusuario.invalid" class="ng-invalid">
                <label class="label-cadastro">Campo obrigatório</label>
            </div>
            <input type="text" [(ngModel)]="aluno.usuario" #fusuario="ngModel" ngModel name="usuario"
                placeholder="Digite Usuário" required>
            <div *ngIf="!f.invalid">
                <button type="submit" class="btn btn-salvar">Salvar</button>
            </div>
        </form>
    </div>
    <app-drop style="max-height: 2em;"></app-drop>
</div>
